// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@use "./colour.scss" as mysatac-colour;

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~tippy.js/dist/tippy.css";
@import "~tippy.js/themes/light.css";
@import "~tippy.js/animations/scale.css";

//np

@import "spacing.scss";
@import "global.scss";
@import "alerts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  // Any href that contains '/' apply the underline, to remove in specific cases use !no-underline in html
  a[href*="/"] {
    text-decoration: underline;
  }
  ul,
  ol {
    // revert to original properties but add fixed padding
    list-style: revert;
    padding-left: 20px;
    padding-top: 10px;
  }
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$mysatac-typography: mat.define-typography-config(
  $font-family: "Raleway",
  $body-1: mat.define-typography-level(14px, 20px, 500),
);

mat-password-strength-info mat-card > mat-card-content div {
  &,
  mat-icon {
    @include mat.typography-level($mysatac-typography, "caption");
  }
}

//@include mat.core($mysatac-typography);

$mysatac-primary: mat.define-palette(mysatac-colour.$mysatac-palette, 700);
//$mysatac-accent: mat.define-palette($mysatac-palette);
$mysatac-accent: mat.define-palette(mysatac-colour.$mysatac-palette);

// The warn palette is optional (defaults to red).
$mysatac-warn: mat.define-palette(mat.$red-palette, 700);

$tafesa-primary: mat.define-palette(mysatac-colour.$tafesa-palette, 700);
$tafesa-accent: mat.define-palette(mysatac-colour.$mysatac-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mysatac-theme: mat.define-light-theme(
  (
    color: (
      primary: $mysatac-primary,
      accent: $mysatac-accent,
      warn: $mysatac-warn,
    ),
  )
);

$tafesa-theme: mat.define-light-theme(
  (
    color: (
      primary: $tafesa-primary,
      accent: $tafesa-accent,
      warn: $mysatac-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.core-theme($mysatac-theme);
@include mat.all-component-themes($mysatac-theme);
@include mysatac-colour.colour($mysatac-theme);

@include spacing();
@include alerts(mysatac-colour.$mysatac-toast-palette);

.tafesa-theme {
  @include mat.core-theme($tafesa-theme);
  @include mat.all-component-themes($tafesa-theme);
  @include mysatac-colour.colour($tafesa-theme);
  @include alerts(mysatac-colour.$mysatac-toast-palette);
}
