@import "./colour.scss";

html,
body {
  height: 100%;
  margin: 0;
}

.user-drawer-container.mat-bottom-sheet-container,
.public-drawer-container.mat-bottom-sheet-container {
  padding: 0;
}

.primary-button {
  width: 250px;

  mat-icon[fontset="fab"] {
    vertical-align: baseline;
  }
}

mat-form-field {
  margin-bottom: 8px;
}

.fixed-height-15 {
  min-height: 15px;
}

mat-expansion-panel-header {
  margin-bottom: 8px;
}

mat-checkbox label.mat-checkbox-layout,
mat-radio-button label.mat-radio-label {
  white-space: normal;
}

.main-content {
  h1 {
    @extend .mat-display-1 !optional;
    justify-content: center;
    display: flex;
  }
}

.main-content {
  margin-top: auto;
  margin-bottom: auto;
}

mat-divider.mb-1 {
  margin-bottom: 20px;
}

.mat-typography .fwb,
.fwb {
  font-weight: bold;
}

.tt-u {
  text-transform: uppercase;
}

.small-header {
  @extend .color-green-900 !optional;
  @extend .fwb;
  @extend .tt-u;
}

.of-auto {
  overflow: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.password-policy-overlay {
  margin-top: 10px;
  width: 330px;
  padding: 12px;
}

.card {
  @extend .bg-100 !optional;
  @extend .p-2 !optional;
  border-radius: 8px;
}

.grey-card {
  @extend .card;
  @extend .bg-grey-lightest !optional;
}

a:focus,
a:active {
  outline: 0;
  border: none;
}

.blue-link {
  cursor: pointer;
  color: $blue;
}

.fs-small {
  font-size: 12px;
}

.fs-xs {
  font-size: 8px;
}

.mat-icon-button.small,
.mat-icon-button .mat-icon.small {
  height: 12px;
  line-height: 12px;
}

mat-divider.alert-divider {
  height: 50px;
  border-right: silver 1px solid;
  margin-right: 10px;
}

.info-alert mat-dialog-container {
  background: transparent;
}

table.data-table {
  border-spacing: 0 8px !important;
  background-color: transparent;

  thead > tr > th {
    font-weight: bold;
    @extend .tt-u;
    @extend .bg-200;
    @extend .color-black;

    &:first-child {
      border-radius: 5px 0 0;
    }

    &:last-child {
      border-radius: 0 5px 0 0;
    }
  }

  .mat-sort-header-arrow {
    margin-left: 0px;
  }

  tbody {
    @extend .bg-white;
  }

  td.mat-cell:first-of-type,
  th.mat-header-cell:first-of-type {
    padding-left: 15px;
  }

  td.mat-cell:last-of-type {
    padding-right: 15px;
  }

  .mat-cell,
  .mat-header-cell {
    padding: 7px;
  }

  .mat-cell {
  }
}

.html-table {
  th {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid thin lightgray;
  }

  td {
    border-bottom: solid thin lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
    &.number {
      text-align: center;
    }
  }
}

.search-container.mat-form-field-appearance-outline {
  line-height: 2.5;

  .mat-form-field-prefix {
    top: 6px;
  }

  .input-container {
    margin-top: -5px;
  }

  button {
    top: -3px;
  }
}

.ml-auto {
  margin-left: auto;
}

mat-hint,
mat-error {
  @extend .fs-small;
}

app-user-sidebar {
  a,
  mat-expansion-panel-header mat-panel-title {
    @extend .fs-small;
    font-weight: 500;
  }

  mat-icon,
  mat-icon.mat-icon {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
  }
}

.va-middle {
  vertical-align: middle;
}

.va-b {
  vertical-align: baseline;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background-color: $scrollbar-background-color;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $scrollbar-color;
}

.ws-pw {
  white-space: pre-wrap;
}

.ws-normal {
  white-space: normal;
}

ul li {
  @extend .mb-h;
}

.authorise .mat-radio-button {
  @extend .mb-1;
}

.display-none {
  display: none !important;
}

#credential_picker_container {
  display: none;
}

button.micro-btn {
  width: 20px;
  height: 20px;
  line-height: 20px;

  > span {
    padding: 0 !important;

    .mat-icon {
      width: 12px;
      height: 12px;
      font-size: 12px;
      vertical-align: baseline;
    }
  }
}

mat-form-field .mat-form-field {
  &-underline {
    position: static;
  }
  &-subscript-wrapper {
    position: static;
  }
}

.round {
  border-radius: 5px;
}

.tc-inline.toast-container {
  position: static;
}

.toast {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 3px #999999;
  color: #ffffff;
  pointer-events: auto;
}

.cookie-dialog {
  background-color: #787878;

  mat-dialog-container {
    background: transparent;
    color: white;

    a {
      color: white;
    }
  }
}

.td-underline {
  text-decoration: underline;
}

.ml-none {
  margin-left: 0px !important;
}

.owrap {
  overflow-wrap: break-word;
  overflow: auto;
}

.toast-container .toast p {
  margin: 0;
}

mat-option.mat-option {
  height: unset;

  span {
    line-height: normal;
    height: unset;
    white-space: normal;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

[placeholder] {
  text-overflow: ellipsis;
}

mat-expansion-panel:not(app-application-menu mat-expansion-panel) {
  margin: 0 !important;
}

mat-expansion-panel-header:not(
    app-application-menu mat-expansion-panel-header
  ) {
  height: auto !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

mat-form-field.mat-form-field-disabled {
  &.mat-form-field-appearance-fill label.mat-form-field-label,
  input:disabled {
    color: rgba(0, 0, 0, 0.9);
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  input:focus,
  select:focus,
  textarea:focus {
    font-size: 16px;
  }
}

mat-dialog-container.mat-dialog-container {
  overflow: unset;
  display: flex;
  flex-direction: column;
}

mat-dialog-content.dialog-content-50h {
  max-height: 50vh;
  overflow-x: hidden;
}

.grecaptcha-badge {
  visibility: hidden;
}
body.recaptcha {
  .grecaptcha-badge {
    visibility: visible;
  }
  app-mobile-footer .logo {
    margin-right: 70px;
  }
}

mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0.8em;
  }
  .mat-form-field-label {
    color: rgba(0, 0, 0, 0.95);
  }
}

.fs-italic {
  font-style: italic;
}

mat-select.mat-select-disabled .mat-select-arrow-wrapper {
  display: none;
}

mat-form-field.multi-suffix {
  .mat-form-field-suffix {
    display: flex;
    gap: 10px;
  }
}

.warn-icon {
  color: #f57c00;
}

.ta-center {
  text-align: center;
}

.display-ib {
  display: inline-block;
}

.toast.default-toast {
  color: black;
  background-color: $satac-grey-lightest;
  border: solid thin lightgrey;
}

.offer-message {
  font-size: 16px;
  line-height: 24px;
}

.mat-form-field-required-marker {
  font-size: 1.25em;
}

.citizenship-select {
  max-height: none !important;
}
