$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0,
  ),
  q: (
    x: (
      $spacer-x * 0.25,
    ),
    y: (
      $spacer-y * 0.25,
    ),
  ),
  h: (
    x: (
      $spacer-x * 0.5,
    ),
    y: (
      $spacer-y * 0.5,
    ),
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y,
  ),
  2: (
    x: (
      $spacer-x * 1.5,
    ),
    y: (
      $spacer-y * 1.5,
    ),
  ),
  3: (
    x: (
      $spacer-x * 3,
    ),
    y: (
      $spacer-y * 3,
    ),
  ),
  4: (
    x: (
      $spacer-x * 4,
    ),
    y: (
      $spacer-y * 4,
    ),
  ),
  5: (
    x: (
      $spacer-x * 5,
    ),
    y: (
      $spacer-y * 5,
    ),
  ),
  6: (
    x: (
      $spacer-x * 6,
    ),
    y: (
      $spacer-y * 6,
    ),
  ),
);

@mixin spacing() {
  .mb--1 {
    margin-bottom: -10px !important;
  }

  .mt--1 {
    margin-top: -10px !important;
  }

  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
      $length-x: map-get($lengths, x);
      $length-y: map-get($lengths, y);

      .#{$abbrev}-#{$size} {
        #{$prop}: $length-y $length-x;
      } // a = All sides
      .#{$abbrev}t-#{$size} {
        #{$prop}-top: $length-y;
      }
      .#{$abbrev}r-#{$size} {
        #{$prop}-right: $length-x;
      }
      .#{$abbrev}b-#{$size} {
        #{$prop}-bottom: $length-y;
      }
      .#{$abbrev}l-#{$size} {
        #{$prop}-left: $length-x;
      }
    }
  }
}
