<div class="identify-card">
    <mat-tab-group animationDuration="700ms" (selectedTabChange)="onChange($event)">
        <mat-tab label="Identification Details">
            <mat-list class="list">
                <mat-list-item>
                    <span matListItemTitle>Name</span>
                    <span matListItemLine>{{identification.name}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Cycle</span>
                    <span matListItemLine>{{identification.cycle}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Reference Number</span>
                    <span matListItemLine>{{identification.reference}}</span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Application status</span>
                    <span matListItemLine>{{identification.applicationStaus}}</span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Date of Birth</span>
                    <span matListItemLine>{{identification.dataOfBirth}}</span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Person status</span>
                    <span matListItemLine>{{identification.personStatus}}</span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Email</span>
                    <span matListItemLine>{{identification.emailAddress}}</span>
                </mat-list-item>


                <mat-list-item>
                    <span matListItemTitle>Applicant Eligibility</span>
                    <span matListItemLine>{{identification.applicantEligibility}}</span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Mobile</span>
                    <span matListItemLine>{{identification.mobile}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Applicant Eligibility How Derived</span>
                    <span matListItemLine>{{identification.applicantEligibilityHowDerived}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Work Phone</span>
                    <span matListItemLine>{{identification.workPhone}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Citizenship Response</span>
                    <span matListItemLine>{{identification.citizenship}}</span>
                </mat-list-item>
            </mat-list></mat-tab>
            
            <mat-tab label="Contact Details">
                <div class="row-content">
                    <div class="address">
                        <h2>{{postAddress?.addressType}} Address </h2>
                        <mat-list class="list">
                            <mat-list-item>
                                <span matListItemTitle>Address Line 1</span>
                                <span matListItemLine>{{postAddress?.addressLine1}}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span matListItemTitle>Address Line 2</span>
                                <span matListItemLine>{{postAddress?.addressLine2}}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span matListItemTitle>Suburb or town</span>
                                <span matListItemLine>{{postAddress?.suburb}}</span>
                            </mat-list-item>
            
                            <mat-list-item>
                                <span matListItemTitle>State</span>
                                <span matListItemLine>{{postAddress?.state}}</span>
                            </mat-list-item>
            
                            <mat-list-item>
                                <span matListItemTitle>Postcode</span>
                                <span matListItemLine>{{postAddress?.postCode}}</span>
                            </mat-list-item>
            
                            <mat-list-item>
                                <span matListItemTitle>Country</span>
                                <span matListItemLine>{{postAddress?.country}}</span>
                            </mat-list-item>
            
                            
                        </mat-list>
                    </div>
                    <div class="address">
                        <h2>{{permanentAddress?.addressType}} Address</h2>
                        <mat-list class="list" >
                            <mat-list-item>
                                <span matListItemTitle>Address Line 1</span>
                                <span matListItemLine>{{permanentAddress?.addressLine1}}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span matListItemTitle>Address Line 2</span>
                                <span matListItemLine>{{permanentAddress?.addressLine2}}</span>
                            </mat-list-item>
                            <mat-list-item>
                                <span matListItemTitle>Suburb or town</span>
                                <span matListItemLine>{{permanentAddress?.suburb}}</span>
                            </mat-list-item>
            
                            <mat-list-item>
                                <span matListItemTitle>State</span>
                                <span matListItemLine>{{permanentAddress?.state}}</span>
                            </mat-list-item>
            
                            <mat-list-item>
                                <span matListItemTitle>Postcode</span>
                                <span matListItemLine>{{permanentAddress?.postCode}}</span>
                            </mat-list-item>
            
                            <mat-list-item>
                                <span matListItemTitle>Country</span>
                                <span matListItemLine>{{permanentAddress?.country}}</span>
                            </mat-list-item>
            
                            
                        </mat-list>
                    </div>
                </div>
            </mat-tab>
            
            
        <mat-tab label="Application Details">
            <mat-list class="list">
                <mat-list-item>
                    <span matListItemTitle>Aboriginal/Torres Strait Islander</span>
                    <span matListItemLine>No, neither</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Residency</span>
                    <span matListItemLine>0880</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Filing number</span>
                    <span matListItemLine></span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Applicant Type</span>
                    <span matListItemLine>OTH</span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Former names</span>
                    <span matListItemLine></span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Date started</span>
                    <span matListItemLine>09 Sep 2023 12:11:32</span>
                </mat-list-item>

                <mat-list-item>
                    <span matListItemTitle>Date submitted</span>
                    <span matListItemLine>01 Oct 2023 12:05:42</span>
                </mat-list-item>


                <mat-list-item>
                    <span matListItemTitle>Applicant Eligibility</span>
                    <span matListItemLine>YES</span>
                </mat-list-item>
            </mat-list>

        </mat-tab>
    </mat-tab-group>



</div>