.container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.toolbar{
    flex-grow:1;
    background-color: #8dc63f;
    padding:1em;
}
.mainbar{
    flex-grow: 18;
    display:flex;
    flex-direction: row;
 
}
.menu{
    flex-grow: 1;
    border:  1px solid rgba(243, 240, 240, 0.486);
    display:flex;
    flex-direction: column;
    //border-radius: 1em;
   // background-color: #8dc63f;
}
.menu-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu button:hover{
 // background-color: #e1eaf0; /* Change button color on hover */
  color: #8dc63f /* Change text color on hover */
}



.content{
    flex-grow: 18;
    width: 100%;
    height: 100%;
}