<div class ="container">
    <mat-toolbar class="toolbar">
        <mat-icon>person</mat-icon>
        {{applicantRef}}
    </mat-toolbar>
  <div class="mainbar">
    <div class="menu">
        <mat-list role="list"  class="menu-list">
            <mat-list-item role="listitem">
                <button mat-raised-button (click)="emitPersonalDetails('Application Details')"
                    style="display: flex; align-items: center;">
                    <mat-icon style="margin-right: 5px;">person_pin</mat-icon>
                    Application Details
                </button>
    
            </mat-list-item>

            <mat-list-item role="listitem">
                <button mat-raised-button (click)="emitPersonalDetails('Preferences')"
                    style="display: flex; align-items: center;">
                    <mat-icon style="margin-right: 5px;">list</mat-icon>
                    Preferences
                </button> 
                <!-- <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <button mat-button (click)="togglePanel1()"   style="display: flex; align-items: center;">
                          <mat-icon style="margin-right: 5px;">list</mat-icon>
                          Preferences
                        </button>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="panel1Opened">
                      <button mat-button (click)="emitPersonalDetails('Preferences 1')">
                        <mat-icon>list</mat-icon>
                        Preferences 1
                      </button>
              
                    </div>
                  </mat-expansion-panel> -->
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-raised-button (click)="emitPersonalDetails('Qualifications')"
                    style="display: flex; align-items: center;">
                    <mat-icon style="margin-right: 5px;">school</mat-icon>
                    Qualifications
                </button>
    
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-raised-button (click)="emitPersonalDetails('Correspondence')"
                    style="display: flex; align-items: center;">
                    <mat-icon style="margin-right: 5px;">mail</mat-icon>
                    Correspondence
                </button>
    
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-raised-button (click)="emitPersonalDetails('History')"
                    style="display: flex; align-items: center;">
                    <mat-icon style="margin-right: 5px;">schedule</mat-icon>
                    History
                </button>
    
            </mat-list-item>
    
            <mat-list-item role="listitem">
                <button mat-raised-button (click)="emitPersonalDetails('Fee Details')"
                    style="display: flex; align-items: center;">
                    <mat-icon style="margin-right: 5px;">attach_money</mat-icon>
                    Fee Details
                </button>
    
            </mat-list-item>
        </mat-list>

    </div>
      
      <div class="content">
        <ng-container *ngIf="selectedComponent" class="mainboardcontent">
            <ng-container *ngComponentOutlet="selectedComponent" ></ng-container>
        </ng-container>
      </div>
  </div>
</div>