.container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.toolbar{
    flex-grow:1;
    background-color: #8dc63f;
    padding:1em;
}
.mainbar{
    flex-grow: 18;
    display:flex;
    flex-direction: row;
 
}
.menu{
    flex-grow: 1;
    border:  1px solid rgba(243, 240, 240, 0.486);
    display:flex;
    flex-direction: column;
    //border-radius: 1em;
    
}
.menu-list {
    display: flex;
    flex-grow:1;
    flex-direction: column;
    justify-content:space-around;
}

.menu button:hover{
 // background-color: #e1eaf0; /* Change button color on hover */
  color: #8dc63f /* Change text color on hover */
}
.menu button.active {
    background-color: #e0dbdb; /* Background color when item is active */
  }
.preference{
    display:flex;
    flex-direction: column;
}

.content{
    flex-grow: 18;
    width: 100%;
    height: 100%;
}

.preference-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
    
}
.preference-buttons button {
    padding: 0.5em 1em; /* Adjust padding as needed */
  }
  .mat-expansion-panel{
    box-shadow:none !important;
  }
 
  .mat-expansion-panel-header{
    font-weight: normal;
    font-family:inherit;
    font-size: 16px;
    padding-left: 1em;
  }