// :host {
//     display: flex;
//     justify-content: center;
//     margin: 20% 0px;
//   }

//   .mat-form-field {
//     width: 100%;
//     min-width: 300px;
//   }

//   mat-card-title,
//   mat-card-content {
//     display: flex;
//     justify-content: center;
//   }

//   .error {
//     padding: 16px;
//     width: 300px;
//     color: white;
//     background-color: red;
//   }

//   .button {
//     display: flex;
//     justify-content: flex-end;
//   }
:host {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Set the height to the full viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

mat-card {
  width: 400px; /* Adjust the width as needed */
  text-align: center; /* Center card content */
}

mat-card-title {
  font-weight: bold; /* Make title bold */
  font-size: 2rem; /* Set font size as needed */
  margin-bottom: 20px; /* Add space below the title */
  white-space: nowrap;/*Prevent line breaks */
}
  .button {
    display: flex;
    justify-content: flex-end;
  }
  .note {
    font-size: 0.8rem; /* Set smaller font size */
    color: #888; /* Set a lighter color */
  }