:host {
    display: block;
    background: #fff;
    // border-radius: 8px;
    // padding: 8px 8px 8px;
  }
  
  input {
    margin: 8px 0;
  }
  
  button + button {
    margin-left: 8px;
  }
  
  .custom-textarea textarea {
    height: 200px; /* Adjust the height as needed */
  }