mat-form-field {
    height: auto; /* Set the height you prefer */
    max-height: 90% ; /* Adjust this value as needed */
   
  }

  .app-timepicker {
    width: 100%; /* or any width that fills the parent */
    height: 100%; /* or any height that fills the parent */
  }

  .align-center .mat-slide-toggle-content {
    align-items: center;
  }
  
  .align-text {
    vertical-align: middle;
  }